*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: aquamarine;
  height: 7vh;
}
ul button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: transparent;
}

ul button:hover{
  cursor: pointer;
}

.img {
  background-image: url(../public/imgs/homePageBG.avif);
  width: auto;
  height: 100vh;
}
