*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: auto;
}

.navbar, .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: aquamarine;
  height: 7vh;
}
ul button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  background-color: transparent;
}

ul button:hover{
  cursor: pointer;
}

.btns-wrapper {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.logo-image{
  width: 46px;
  height: 46px;
  border-radius: 30%;
  overflow: hidden;
  margin-top: -6px;
  background-image: url(../public/favicon.ico);
  background-size: cover;
}

.nav-items{
display: flex;
justify-content: space-around;
align-items: center;
width: 30%;
height: 50px;
}

.nav-items:hover {
  cursor: pointer;
}

h1 {
color:black;
font-size: 64px;
display: flex;
justify-content: center;
align-items: center;
transform: translate(200px,460px);
}

.homeBg {
  background-image: url(../public/imgs/homePageBG.avif);
  width: auto;
  height: 100vh;
}

.sign-up-bg{
  background-image: url(../public/imgs/signUpBG.avif);
  background-size: cover;
  width: auto;
  height: 100vh;
}

.sign-in-bg{
  background-image: url(../public/imgs/signInBG.avif);
  background-size: cover;
  width: auto;
  height: 100vh;
}

.location {
  width: 30px;
  height: 35px;
  overflow: hidden;
  background-image: url(../public/imgs/location.png);
  background-size: cover;
}

.address, .phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  height: 500vh;
  margin: 50px 0 50px 0;
}

.image1 {
  background-image: url(../public/imgs/doctor1.avif);
  background-size: cover;
  width: 1000px;
  height: 2000px;
}


.image2 {
  background-image: url(../public/imgs/doctor2.avif);
  background-size: cover;
  width: 1000px;
  height: 2000px;
}


.image3 {
  background-image: url(../public/imgs/doctor3.avif);
  background-size: cover;
  width: 1000px;
  height: 2000px;
}


.image4 {
  background-image: url(../public/imgs/doctor4.avif);
  background-size: cover;
  width: 1000px;
  height: 2000px;
}

.contactUsForm, .signUpForm, .signInForm{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.services, .services li{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}